<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <patternLayout
                    pattern="%d{ISO8601} [%t] %-5p %c{1} - %m%n%rEx{filters(org.junit,org.apache.maven,org.eclipse,sun.reflect,java.lang.reflect)}"/>
        </console>
    </appenders>
    <loggers>

        <!--
    	<logger name="org.apache.catalina" level="info" />
    	<logger name="org.springframework.boot" level="info" />
    	<logger name="org.springframework.web" level="debug" />
        -->

        <logger name="io.swagger" level="debug"/>
        <logger name="org.springdoc" level="debug"/>
        <logger name="org.springframework.data" level="debug"/>
<!--        <logger name="org.springframework.data.mongodb.core" level="debug"/>-->

        <logger name="org.springframework.data.convert.CustomConversions" level="info"/>

        <root level="info">
            <appenderRef ref="console"/>
        </root>
    </loggers>
</configuration>
